body {
    margin: 0;
    overflow: hidden;
}

.screen {
    background-image: url(photo.jpg);
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.elements {
    width: 15vw;
    height: 15vw;
    background-color: pink;
}


.logo {
    width: 80%;
    height: 80%;
    background-image: url("avatar.png");
}