body {
    margin: 0;
    padding: 0;
}

/* .table {
    border: 1px solid black;
} */

table {
    display: grid;
    place-items: center;
    border-width: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    border: 1px solid #000000;
    width: 20vw;
    padding: 1vw;
}

td {
    border: 1px groove #000000;
    width: 20vw;
    padding: 1vw;
}

