@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    height: 1000vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(9,0,153);
    background: linear-gradient(92deg, rgba(9,0,153,1) 0%, rgba(15,15,112,1) 35%, rgba(55,6,168,1) 73%, rgba(0,94,207,1) 100%);
}

li {
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    
}

.nav-link:hover {
    animation: fromLeft 0.5s easy-in;
    /* transform: translate(-50px, -50px); */
    text-decoration: underline;
}

@keyframes fromLeft {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}

#home {
    margin-top: 70px;
}

@media(max-width: 1600px){
    .container{
        width: 100%;
    }
}

@media(max-width: 1024px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: rgb(9,0,153);
        background: linear-gradient(92deg, rgba(9,0,153,1) 0%, rgba(15,15,112,1) 35%, rgba(55,6,168,1) 73%, rgba(0,94,207,1) 100%);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

.parallax{
    height: 50vh;    
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}